<div class="task-content-container">
  <!-- 正文 -->

  <div class="task-content-header" *ngIf="isNotEmpty(headerModel)" #headerArea>
    <div dynamic-ant-form-control *ngFor="let controlModel of headerModel" [group]="formGroup"
      [hidden]="controlModel.hidden" [model]="controlModel" [componentCollection]="componentCollection"></div>
  </div>

  <div class="task-content-content" *ngIf="isNotEmpty(contentModel)" #contentArea>
    <div dynamic-ant-form-control *ngFor="let controlModel 
      of contentModel" [group]="formGroup" [hidden]="controlModel.hidden" [model]="controlModel"
      [componentCollection]="componentCollection"></div>
  </div>

  <div class="task-content-action" #actionArea>
    <div class="action-no-btn" *ngIf="resultData?.finished === true">
      <i class="action-no-btn-icon" aria-hidden="true">
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#iconz"></use>
        </svg>
      </i>
      <p class="finishedTitle">-{{ resultData?.finishedTitle }}-</p>
    </div>
    <!-- 提交按钮区域 -->
    <div submit-buttons *ngIf="resultData?.finished !== true && isNotEmpty(actions)" [buttons]="actions"
      [group]="formGroup" (btnClick)="clickBtn($event)"></div>
  </div>

  <div class="content-query-async-result-container" *ngIf="templateService.showAsyncQueryPop"
    [ngStyle]="{height: (templateService.asyncQueryPopHeight || 0) + 'px'}">
    <nz-spin *ngIf="templateService.asyncQueryLoading" [nzSpinning]="templateService.asyncQueryLoading"></nz-spin>
    <!-- http加载失败提示 -->
    <request-failed-prompt *ngIf="!templateService.asyncQueryLoading && templateService.asyncQueryLoadingFailed"
      (reload)="templateService.onReloadAsyncQuery()"></request-failed-prompt>
    <ng-container
      *ngIf="!templateService.asyncQueryLoading && !templateService.asyncQueryLoadingFailed && templateService.templateJson && queryBtnParams?.rowSize !== 0">
      <task-content [templateJson]="templateService.templateJson"></task-content>
    </ng-container>
    <div class="content-query-async-result-no-data" *ngIf="queryBtnParams?.rowSize === 0">
      <svg class="iconfont" aria-hidden="true">
        <use xlink:href="#iconnone"></use>
      </svg>
      <p>{{'dj-c-暂无数据'|translate}}</p>
    </div>
  </div>

</div>