<div class="menu-bar">
  <div class="left">
    <div class="logo" (click)="goHome()">
      <img src="assets/img/home/logo.png" alt="" />
      <span>Athena</span>
    </div>
    <!-- 基础资料录入的入口 -->

    <div class="search"></div>

  </div>

  <div class="right">
    <div class="dropdown tenant" *ngIf="tenantShow">
      <a nz-dropdown [nzDropdownMenu]="tenantList">
        {{ currentTenant }}
        <i nz-icon nzType="down" aria-hidden="true"></i>
      </a>
      <nz-dropdown-menu #tenantList="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li class="tenantdrop" nz-menu-item *ngFor="let tenantItem of currTenantList"
            (click)="changeTenant(tenantItem.tenantSid)" [nzSelected]="tenantItem.tenantSid === currentTenantId">
            <i nz-icon nzType="check" *ngIf="tenantItem.tenantSid === currentTenantId" aria-hidden="true"></i>
            <span class="tenantdrop-name">{{ tenantItem.tenantName }}</span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <div class="dropdown user">
      <a nz-dropdown [nzDropdownMenu]="userMenu">
        {{ currentUser.name }}
        <i nz-icon nzType="down" aria-hidden="true"></i>
      </a>
      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="logout()">
            {{ 'dj-登出' | translate }}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>