<div class="page-content">
  <h3 style="font-size: 30px;">定制页列表总览</h3>
  <p style="color: #666;">这里列举了应用下的所有定制页，方便你快速访问</p>
  <nz-divider></nz-divider>
  <nz-select class="search-app" nzShowSearch nzAllowClear nzPlaceHolder="搜索关键字" [(ngModel)]="selectedValue"
    [nzSize]="'large'" (ngModelChange)="onSelected($event)">
    <nz-option *ngFor="let item of programs | keyvalue; let key=index;" nzLabel="{{item.key}}"
      nzValue="{{item.key}}">
    </nz-option>
  </nz-select>
  <div class="components-box">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="6" *ngFor="let item of programs | keyvalue; let key=index;" class="nz-card-box">
        <a routerLink="/dev/xxx" [queryParams]="{programName: item.key}">
          <nz-card nzTitle="{{item.key}}" [nzHoverable]="true">
            <p>{{item.value.jsonPath}}</p>
            <p>{{item.value.description}}</p>
          </nz-card>
        </a>
      </div>
    </div>
  </div>
</div>
